{{> ../src/partials/heroBanner }}
{{> ../src/partials/part_1_scrapper_ski }}
{{#video_1}}
{{> ../src/partials/video }}
{{/video_1}}
{{> ../src/partials/part_2_vertic-gtx }}
{{> ../src/partials/part_3_superguide }}
{{#video_2}}
{{> ../src/partials/video }}
{{/video_2}}
{{> ../src/partials/part_4_vapor }}
{{> ../src/partials/part_5_airflex }}
{{> ../src/partials/part_6_collections }}
{{> ../src/partials/part_7_newsletter }}
