<div class="container-fluid p-0">
  <div class="row no-gutters" id="part_1_hero">
    <div class="col-sm-12">
                <video id="video_0" class="video noPlay" poster="https://assets.scott-sports.com/pages/wintersphere_2019/hero_bg.png" preload="auto"   >
                  <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/SCOTT-Brand-MOVIE-1920x1080.mp4" type="video/mp4">
                  <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/SCOTT-Brand-MOVIE-1920x1080.ogg" type="video/ogg">
                  <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/SCOTT-Brand-MOVIE-1920x1080.webm" type="video/webm"></video>
                  <div id="hero_cta">
                    <h2 class="hiphen text-center nofade my-5"></h2>
                    <span class="fa-stack fa-4x text-primary" data-play-video="#video_0">
                      <i class="far fa-circle fa-stack-2x"></i>
                      <i class="fas fa-play fa-stack-1x"></i>
                    </span>
                  </div>
    </div>
  </div>
  <div class="row" id="intro">
    <div class="col-sm-12 text-center " id="part_1_hero--intro">
      <hr>
      <h3 class="txt-dark h2 hiphen fade" data-text="title">
        Winter is around the corner
      </h3>
      <h4 class="txt-weigth--light h3 fade" data-text="subtitle">DISCOVER THE NEW SCOTT FREERIDE COLLECTION</h4>
    </div>
  </div>
</div>
<hr>
    <div class="row no-gutters">
      <div class="col-sm-12">
        <video id="video_4" class="video " poster="https://assets.scott-sports.com/pages/wintersphere_2019/scrapper_cover.png" preload="auto"  autoplay playsinline loop="loop"   muted="muted"  >
          <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/Scott-Freeride-Zurs_scrapper-1920x1080.mp4" type="video/mp4">
          <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/Scott-Freeride-Zurs_scrapper-1920x1080.ogg" type="video/ogg">
          <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/Scott-Freeride-Zurs_scrapper-1920x1080.webm" type="video/webm"></video>
      </div>
    </div>
<hr>
<div class="container">
  <div class="row " id="part_1_scrapper_ski">
    <div class="col-sm-12">
      <p class="winter--pitch w-400 fade" data-text="p1">With outstanding feedback and success in its first season, the award winning SCOTT Scrapper 115 has become the benchmark for the quiver freeski-ski.</p>
      <a class="show-more" data-toggle="modal" href="#" id="show--scrapper_ski">
        <div style="background-image: url(https://assets.scott-sports.com/pages/wintersphere_2019/scrapper_ski.png);" ></div>
        <span class="fa-stack fa-2x text-primary" data-play-video="#video_0">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-tag fa-stack-1x fa-inverse"></i>
        </span>      </a>
        <div class="product_box slidable" id="slidable_271785">
          <div class="slidable--wrapper slide-right">
            <article style="background-color:#6d7892;" id="product_271785">
              <h5 class="hiphen">scrapper ski 115</h5>
              <div class="img--wrapper">
                <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_scrapper_ski.png" alt="" class="img-fluid" />
              </div>
              <ul>
                  <li><span>-</span> Easy turn initiation</li>
                  <li><span>-</span> Optimal Floatation</li>
                  <li><span>-</span> Performance tuning</li>
              </ul>
              <a class="button btn btn-primary btn-sm quickview fade" href="#" data-text="quickview">Quickview</a>
              <span style="display: none" class="quick-look" >271785/quickView</span>
            </article>
          </div>
        </div>
      <hr>
    </div>
  </div>
</div>
<hr>
    <div class="row no-gutters">
      <div class="col-sm-12">
        <video id="video_1" class="video " poster="https://assets.scott-sports.com/pages/wintersphere_2019/video_cover_vertic.png" preload="auto"  autoplay playsinline loop="loop"   muted="muted"  >
          <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/VERTIC_CONQUER_THE_ELEMENTS_1920x1080.mp4" type="video/mp4">
          <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/VERTIC_CONQUER_THE_ELEMENTS_1920x1080.ogg" type="video/ogg">
          <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/VERTIC_CONQUER_THE_ELEMENTS_1920x1080.webm" type="video/webm"></video>
      </div>
    </div>
<div class="jumbotron-fluid gradient--gray-up">
  <div class="container  ">
    <div class="row follow-parent" id="part_2_vertic_jacket">
      <div class="col-sm-6">
        <p class="winter--pitch w-400 fade" data-text="p2">The slick design and the muted colorways of the SCOTT Vertic GTX 3L Stretch Jacket hides technical features and comfort. Constructed using a GORE-TEX® membrane, it stands up to the worst winter weather.</p>
            <div class="product_box slidable" id="slidable_2725395517007">
              <div class="slidable--wrapper slide-left">
                <article style="background-color:#636873;" id="product_2725395517007">
                  <h5 class="hiphen">Vertix gtx 3L strech Jacket</h5>
                  <div class="img--wrapper">
                    <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_vertic_gtx_jacket.png" alt="" class="img-fluid" />
                  </div>
                  <ul>
                      <li><span>-</span> GORE-TEX® 3 Layer fabrics</li>
                      <li><span>-</span> Lightweight to access the steepest couloirs </li>
                      <li><span>-</span> GORE-TEX stretch inserts for enhanced mobility </li>
                  </ul>
                  <a class="button btn btn-primary btn-sm quickview fade" href="#" data-text="quickview">Quickview</a>
                  <span style="display: none" class="quick-look" >2725395517007/quickView</span>
                </article>
              </div>
            </div>
      </div>
      <div class="col-sm-6 box-50--wrapper">
        <a data-toggle="modal" href="#" class="box-50 show-more" id="show--vertic">
          <img class="img-fluid w-100 scaledown" src="https://assets.scott-sports.com/pages/wintersphere_2019/vertic_gtx_action_shot.png" alt="">
          <span class="fa-stack fa-2x text-primary" data-play-video="#video_0">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-tag fa-stack-1x fa-inverse"></i>
          </span>        </a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row " id="part_3_superguide">
    <div class="col-md-7">
                <video id="video_3" class="video " poster="https://assets.scott-sports.com/pages/wintersphere_2019/boots_video.png" preload="auto"  autoplay playsinline loop="loop"   muted="muted"  >
                  <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/Scott-Freeride-Zurs_skiboots-768x432.mp4" type="video/mp4">
                  <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/Scott-Freeride-Zurs_skiboots-768x432.ogg" type="video/ogg">
                  <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/Scott-Freeride-Zurs_skiboots-768x432.webm" type="video/webm"></video>
      <p class="winter--pitch w-400 nofade" data-text="p3">
        The lightweight SCOTT Superguide is mobile and comfortable on the ups, with solid, precise stability on the downs. The Rear Hook Walk System is simple, strong, and dependable, allowing a high range of friction-free motion for walking
        with powerful energy transfer.
      </p>
      <section>
        <div class="img--wrapper" id="boot_slide">
          <a data-toggle="modal" href="#" class="show-more" id="show--superguide">
            <img class="img-fluid w-100 scaledown" src="https://assets.scott-sports.com/pages/wintersphere_2019/part_3_boots.png" alt="">
            <span class="fa-stack fa-2x text-primary" data-play-video="#video_0">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-tag fa-stack-1x fa-inverse"></i>
            </span>          </a>
        </div>
      </section>
    </div>
    <div class="col-md-5">
        <div class="product_box slidable" id="slidable_272319">
          <div class="slidable--wrapper slide-right">
            <article style="background-color:#71694f;" id="product_272319">
              <h5 class="hiphen">SUPERGUIDE CARBON SKI BOOT</h5>
              <div class="img--wrapper">
                <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_superguide_boot.png" alt="" class="img-fluid" />
              </div>
              <ul>
                  <li><span>-</span> Better flex in ski and walk mode</li>
                  <li><span>-</span> Buckle ratchet locking system</li>
                  <li><span>-</span> Automatic lock when skiing down</li>
              </ul>
              <a class="button btn btn-primary btn-sm quickview fade" href="#" data-text="quickview">Quickview</a>
              <span style="display: none" class="quick-look" >272319/quickView</span>
            </article>
          </div>
        </div>
    </div>
  </div>
</div>
<hr>
    <div class="row no-gutters">
      <div class="col-sm-12">
        <video id="video_2" class="video " poster="https://assets.scott-sports.com/pages/wintersphere_2019/video_cover_vapor.png" preload="auto"  autoplay playsinline loop="loop"   muted="muted"  >
          <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/Scott_Vapor_master_v01_1920x1080.mp4" type="video/mp4">
          <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/Scott_Vapor_master_v01_1920x1080.ogg" type="video/ogg">
          <source src="https://assets.scott-sports.com/pages/wintersphere_2019/video/Scott_Vapor_master_v01_1920x1080.webm" type="video/webm"></video>
      </div>
    </div>
<hr>
<div class="jumbotron-fluid" id="part_4_vapor--jumbotron">
    <div class="row no-gutters" id="part_4_vapor">
      <div class="col-sm-6 offset-sm-2">
        <a class="show-more" data-toggle="modal" href="#" id="show--vapor-goggle">
          <img src="https://assets.scott-sports.com/pages/wintersphere_2019/part_4_vapor_girl.png" alt="" class="scaledown">
          <span class="fa-stack fa-2x text-primary" data-play-video="#video_0">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-tag fa-stack-1x fa-inverse"></i>
          </span>        </a>
            <div class="product_box slidable" id="slidable_271810">
              <div class="slidable--wrapper slide-left">
                <article style="background-color:#78869e;" id="product_271810">
                  <h5 class="hiphen">vapor goggle</h5>
                  <div class="img--wrapper">
                    <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_vapor_goggle.png" alt="" class="img-fluid" />
                  </div>
                  <ul>
                      <li><span>-</span> Amplifier:enhances contrast&amp;clarity</li>
                      <li><span>-</span> 100% UV Protection</li>
                      <li><span>-</span> Revolutionary Air Management 2.0</li>
                  </ul>
                  <a class="button btn btn-primary btn-sm quickview fade" href="#" data-text="quickview">Quickview</a>
                  <span style="display: none" class="quick-look" >271810/quickView</span>
                </article>
              </div>
            </div>
        <section>
          <div class="img--wrapper" id="show--vapor-back">
            <img class="w-100" src="https://assets.scott-sports.com/pages/wintersphere_2019/part_4_patrol_back.png" alt="">
          </div>
        </section>
      </div>
      <div class="col-sm-3">
        <p class="winter--pitch w-400 fade" data-text="p4">The SCOTT Vapor goggle is the latest addition to the range. The totally new semi-rimless frame has been designed to create a perfect airflow inside the lens to avoid fogging. </p>
        <span id="parallax_1_trigger"></span>

        <div class="follow-me" id="follow_6" data-parent="parallax_1_trigger" data-offset="400" data-duration="200">
          <a class="show-more parallax_parent" data-toggle="modal" href="#" id="show--vapor-backpack">
            <div style="background-image: url(https://assets.scott-sports.com/pages/wintersphere_2019/part_4_vapor_front.png);" class="parallax" id="parallax_1" data-parent="#parallax_1_trigger" data-y="100px"></div>
            <span class="fa-stack fa-2x text-primary" data-play-video="#video_0">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-tag fa-stack-1x fa-inverse"></i>
            </span>          </a>
        </div>
            <div class="product_box slidable" id="slidable_272628">
              <div class="slidable--wrapper slide-right">
                <article style="background-color:#f56e67;" id="product_272628">
                  <h5 class="hiphen">SCOTT PATROL E1 22 BACKPACK KIT</h5>
                  <div class="img--wrapper">
                    <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_patrol_backpack.png" alt="" class="img-fluid" />
                  </div>
                  <ul>
                      <li><span>-</span> SCOTT Alpride E1 Airbag System</li>
                      <li><span>-</span> One of the lightest on the market</li>
                      <li><span>-</span> 1280g Full system weight</li>
                  </ul>
                  <a class="button btn btn-primary btn-sm quickview fade" href="#" data-text="quickview">Quickview</a>
                  <span style="display: none" class="quick-look" >272628/quickView</span>
                </article>
              </div>
            </div>
        <p class="winter--pitch w-400 center nofade" data-text="p5">The SCOTT Patrol E1 22 is the smaller version of our flagship Patrol E1 electronic avalanche backpack family. With a smaller volume but with all the same features as the 30 litre, this pack is perfect for quick ascents or heli-skiing outings. </p>
      </div>
    </div>
  </div>
<div class="jumbotron-fluid" id="part_5_airflex--jumbotron">
  <a class="show-more" data-toggle="modal" href="#" id="show--airflex">
    <img src="https://assets.scott-sports.com/pages/wintersphere_2019/part_5_airflex_bg.png" alt="" class="w-100">
    <span class="fa-stack fa-2x text-primary" data-play-video="#video_0">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-tag fa-stack-1x fa-inverse"></i>
    </span>  </a>
  <div class="container">
    <div class="row " id="part_5_airflex">
      <div class="col-sm-6">

        <div id="part_7_airflex--img-wrapper" class="img--wrapper">
          <span id="parallax_8_trigger"></span>

          <div class="parallax_parent" data-toggle="modal" href="#" id="parallax_parent_8">
            <div style="background-image: url(https://assets.scott-sports.com/pages/wintersphere_2019/part_5_airflex_back.png);" class="parallax " id="parallax_8" data-parent="#part_7_airflex--img-wrapper" data-y="-5%"></div>
          </div>
        </div>
        <p class="winter--pitch hidden-xs nofade"  data-text="p6">The SCOTT AirFlex Polar Vest Protector features the new and innovative AirFlex D3O plate with a SCOTT specific design. Enjoy maximum comfort, optimal airflow thanks to strategically placed vents as well as
          the protective performance of this tough tested plate. In combination with PolarTec fabric, the SCOTT AirFlex Polar Vest Protector keeps you warm, whatever your adventure.</p>
      </div>
      <div class="col-sm-6" id="part_5_airflex--right">
        <p class="winter--pitch hidden-sm-up nofade" data-text="p6">The SCOTT AirFlex Polar Vest Protector features the new and innovative AirFlex D3O plate with a SCOTT specific design. Enjoy maximum comfort, optimal airflow thanks to strategically placed vents as well
          as the protective performance of this tough tested plate. In combination with PolarTec fabric, the SCOTT AirFlex Polar Vest Protector keeps you warm, whatever your adventure.</p>
          <div class="product_box slidable" id="slidable_271913">
            <div class="slidable--wrapper slide-right">
              <article style="background-color:#d8784f;" id="product_271913">
                <h5 class="hiphen">AIRFLEX PRO MEN&#39;S VEST PROTECTOR</h5>
                <div class="img--wrapper">
                  <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_airflex_vest.png" alt="" class="img-fluid" />
                </div>
                <ul>
                    <li><span>-</span> Level 1 Protection</li>
                    <li><span>-</span> AirFlex Technology with D3O®</li>
                    <li><span>-</span>  Polartec powergrid fabric</li>
                </ul>
                <a class="button btn btn-primary btn-sm quickview fade" href="#" data-text="quickview">Quickview</a>
                <span style="display: none" class="quick-look" >271913/quickView</span>
              </article>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<hr>
<hr>
<div class="container-fluid" id="part_6_collections">
  <div class="row ">
    <div class="col-sm-12 text-center my-5">
      <h2 class="hiphen fade" data-text="collections_title">Discover our collections</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="collections-imgs slidable" id="part_6_collections_1">
        <img class="img-fluid w-100" src="https://assets.scott-sports.com/pages/wintersphere_2019/part_6_collections_freeride.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 collections-titles">
      <div>
        <h3 class="hiphen fade" data-text="freeride">FREERIDE</h3>
        <a href="products/wintersports-collection-freeride-men" class="btn btn-default fade" data-text="cta_men">COLLECTION MEN</a>
        <a href="products/wintersports-collection-freeride-women" class="btn btn-default fade" data-text="cta_women">COLLECTION WOMEN</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <div class="collections-imgs slidable" id="part_6_collections_2">
        <img class="img-fluid w-100 slide-right" src="https://assets.scott-sports.com/pages/wintersphere_2019/part_6_collections_ski.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6 collections-titles">
      <div>
        <h3 class="hiphen fade" data-text="ski_touring">SKI TOURING</h3>
        <a href="products/wintersports-collection-ski-touring-men" class="btn btn-default fade" data-text="cta_men">COLLECTION MEN</a>
        <a href="products/wintersports-collection-ski-touring-women" class="btn btn-default fade" data-text="cta_women">COLLECTION WOMEN</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="collections-imgs slidable" id="part_6_collections_3">
        <img class="img-fluid w-100" src="https://assets.scott-sports.com/pages/wintersphere_2019/part_6_collections_mountain.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 collections-titles">
      <div>
        <h3 class="hiphen fade" data-text="all_mountain">ALL MOUNTAIN</h3>
        <a href="products/wintersports-collection-all-mountain-men" class="btn btn-default fade" data-text="cta_men">COLLECTION MEN</a>
        <a href="products/wintersports-collection-all-mountain-women" class="btn btn-default fade" data-text="cta_women">COLLECTION WOMEN</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid newsletter-box" id="newsletter">
  <div class="row">
    <div class="col-sm-12">
      <div id="newsletter-box--wrapper" class="div card w-50 mx-auto rounded p-3 my-5 shadow">
            <div class="card-body text-center">
              <button
                type="button"
                data-dismiss="modal"
                aria-label="Close"
                class="btn btn-link"
                id="newsletter-box--modal-close"
              >
                <i class="fal fa-times fa-2x"></i>
              </button>
              <h3 class="hiphen text-center nofade my-4" data-text="nl_title">
                Sign up for our newsletter
              </h3>
              <p class="text-center nofade" data-text="nl_subtitle">
                READY FOR WINTER? SUBSCRIBE TO RECEIVE OUR EXCLUSIVE OFFERS,
                STORIES AND VIDEOS DIRECTLY IN YOUR INBOX.
              </p>
              <form
                action="https://api.maropost.com/accounts/1020/forms/30/subscribe/ff32fcaf073d11fc8cdca239044d44c28a74d4e2"
                class="maropost-form"
                method="post"
              >
              <div class="form-group mt-5">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
                <div class="form-group">
                  <input
                    value="Subscribe"
                    type="submit"
                    name="commit"
                    class="btn btn-primary btn-block"
                    id="newsletter_form_submit"
                    disabled
                  />
                  <div class="col-sm-12 text-left mt-4" id="custom_fields_privacy--wrapper">
                    <div class="form-check form-check-inline">
                    <input class="form-check-input mr-4" type="checkbox" id="custom_fields_privacy" value="option1">
                    <label class="form-check-label" for="custom_fields_privacy">
                    <span class="nofade" data-text="nl_pp" id="nl_pp" class="form-check-label" for="custom_fields_privacy">
                      I agree to receive the SCOTT Wintersports newsletter. Our
                      newsletter informs you about sport-related topics, our
                      products, offers and our company. You can unsubscribe from
                      the newsletter at any time. Information on the content,
                      the logging of your registration, the distribution via the
                      provider Maropost, statistical evaluation as well as your
                      disclaimer possibilities are given in our
                      <a href="">Privacy Policy</a>.
                    </span>
                  </label>
                  </div>
                  </div>
                </div>

              </form>

              <div class="maropost-form_message-fail text-danger text-center">
                &nbsp;
              </div>
              <div class="maropost-form_message-dbl-opt text-center">
                &nbsp;
              </div>
              <div class="maropost-form_message text-center">&nbsp;</div>
            </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
<div
  id="newsletter_modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  class="modal fade newseletter-box"
>
  <div role="document" class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-body" id="newsletter_modal_content"></div>
  </div>
</div>
<!-- <div id="articles_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-lg modal-dialog-centered">
    <%-- Will be filled with HTML via AJAX call or with the below error layout --%>
  </div>
</div> -->
<div
  class="modal show-more--modal"
  tabindex="-1"
  role="dialog"
  id="show-more-modal"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header hidden-sm-up">
        <h5 class="modal-title hiphen fade" data-text="shop_the_look">
          Shop the look
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i class="fal fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row" id="show-more-modal--main">
            <div class="col-md-6" id="show-more-modal--cover"></div>
            <div class="col-md-6">
              <div class="modal-header border-0 hidden-xs">
                <h5
                  class="modal-title hiphen fade"
                  data-text="shop_the_look"
                ></h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="fal fa-times"></i>
                </button>
              </div>
              <div class="product_list--container p-4">
                <div id="products" class="row"></div>
              </div>
            </div>
          </div>
          <div class="row" id="quickview--box--wrapper">
            <div class="col-sm-12" id="quickview--box">
              <div class="modal-header">
                <a
                  class="quickview-back btn btn-link"
                  href="#"
                  style="display: inline-block"
                  >Back</a
                >
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="fal fa-times"></i>
                </button>
              </div>
            </div>
            <div class="col-sm-12 product_detail" id="quickview--box--main">
              <div id="quickview--box--details"></div>
              <div id="quickview-sizechart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="quickview--box--footer"></div>
    </div>
  </div>
</div>
<a href="#" class="cd-top cd-is-visible cd-fade-out">Top</a>
