<div class="container-fluid no-padding">
  <div class="row-fluid teaserline" id="hero">
    <div class="col-sm-12" id="hero--content">
      <h2 class="text-center txt-white txt-size--1">
        Conquer the elements</h2>
    </div>
  </div>
  <div class="row teaserline" id="intro">
    <div class="col-sm-12 text-center " id="hero--intro">
      <h3 class="txt-dark txt-size--3">
        Winter is around the corner
      </h3>
      <h4 class="txt-weigth--light txt-size--4">Dicover the new SCOTT Freeride collection</h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row teaserline" id="part_1_scrapper_ski">
    <div class="col-sm-12">
      <p class="winter--pitch w-400">With outstanding feedback and success in its first season, the award winning SCOTT Scrapper 115 has become the benchmark for the quiver freeski-ski.</p>
      <div class="show-more">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-1x" style="font-size: 6rem;color: #0099ff;"></i>
          <i class="far fa-tag fa-stack-1x fa-inverse" style="    margin-left: 1.5rem;
        "></i>
        </span>
        <img src="https://assets.scott-sports.com/pages/wintersphere_2019/scrapper_ski.png" alt="">
      </div>
        <article class="product_box" style="background-color:#6d7892;">
          <h5 class="hiphen">scrapper ski 115</h5>
          <div class="img--wrapper">
            <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_scrapper_ski.png" alt="" class="img-fluid">
          </div>
          <ul>
              <li><span>-</span> Easy turn initiation</li>
              <li><span>-</span> Optimal Floatation</li>
              <li><span>-</span> Performance tuning</li>
          </ul>
          <a class="button btn btn-primary btn-sm quickview" href="#">Quickview</a>
          <span style="display: none" class="quick-look">271785/quickView</span>
        </article>
    </div>
  </div>
</div>
<div class="container-fluid no-padding">
  <div class="row-fluid teaserline">
    <div class="col-sm-12 no-padding">
      <video id="video_1" class="col-sm-12 no-padding" poster="https://assets.scott-sports.com/pages/wintersphere_2019/video_cover_vertic.png" controls="" muted>
        <source src="video/SCOTT - Brand MOVIE 1_1- H264.mov" type="video/webm">
      </video>
    </div>
  </div>
</div>
<div class="jumbotron-fluid gradient--gray-up">
  <div class="container no-padding  ">
    <div class="row teaserline" id="part_2_vertic_jacket">
      <div class="col-sm-6">
        <p class="winter--pitch w-400">The slick design and the muted colorways of the SCOTT Vertic GTX 3L Stretch Jacket hides technical features and comfort. Constructed using a GORE-TEX® membrane, it stands up to the worst winter weather.</p>
          <article class="product_box" style="background-color:#636873;">
            <h5 class="hiphen">Vertix gtx 3L strech Jacket</h5>
            <div class="img--wrapper">
              <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_vertic_gtx_jacket.png" alt="" class="img-fluid">
            </div>
            <ul>
                <li><span>-</span> GORE-TEX® 3 Layer fabrics</li>
                <li><span>-</span> Lightweight to access the steepest couloirs </li>
                <li><span>-</span> GORE-TEX stretch inserts for enhanced mobility </li>
            </ul>
            <a class="button btn btn-primary btn-sm quickview" href="#">Quickview</a>
            <span style="display: none" class="quick-look">272484/quickView</span>
          </article>
      </div>
      <div class="col-sm-6 no-padding box-50--wrapper">
        <div class="box-50 show-more">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-1x" style="font-size: 6rem;color: #0099ff;"></i>
            <i class="far fa-tag fa-stack-1x fa-inverse" style="    margin-left: 1.5rem;
          "></i>
          </span>
          <img class="img-fluid w-100" src="https://assets.scott-sports.com/pages/wintersphere_2019/vertic_gtx_action_shot.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row teaserline" id="part_3_superguide">
    <div class="col-md-7">
      <img src="https://assets.scott-sports.com/pages/wintersphere_2019/boots_video.png" alt="">
      <p class="winter--pitch w-400">
        The lightweight SCOTT Superguide is mobile and comfortable on the ups, with solid, precise stability on the downs. The Rear Hook Walk System is simple, strong, and dependable, allowing a high range of friction-free motion for walking
        with powerful energy transfer.
      </p>
      <section>
        <div class="img--wrapper">
          <img class="img-fluid w-100" src="https://assets.scott-sports.com/pages/wintersphere_2019/part_3_boots.png" alt="">
        </div>
      </section>
    </div>
    <div class="col-md-5">
        <article class="product_box" style="background-color:#71694f;">
          <h5 class="hiphen">SUPERGUIDE CARBON SKI BOOT</h5>
          <div class="img--wrapper">
            <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_superguide_boot.png" alt="" class="img-fluid">
          </div>
          <ul>
              <li><span>-</span> Better flex in ski and walk mode</li>
              <li><span>-</span> Buckle ratchet locking system</li>
              <li><span>-</span> Automatic lock when skiing down</li>
          </ul>
          <a class="button btn btn-primary btn-sm quickview" href="#">Quickview</a>
          <span style="display: none" class="quick-look">272319/quickView</span>
        </article>
    </div>
  </div>
</div>
<div class="container-fluid no-padding">
  <div class="row-fluid teaserline">
    <div class="col-sm-12 no-padding">
      <video id="video_2" class="col-sm-12 no-padding" poster="https://assets.scott-sports.com/pages/wintersphere_2019/video_cover_vapor.png" controls="" muted>
        <source src="video/SCOTT - Brand MOVIE 16_9-J H264.mov" type="video/webm">
      </video>
    </div>
  </div>
</div>
<div class="jumbotron-fluid" id="part_4_vapor--jumbotron">
  <div class="container">
    <div class="row teaserline" id="part_4_vapor">
      <div class="col-sm-6">
        <div class="show-more">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-1x" style="font-size: 6rem;color: #0099ff;"></i>
            <i class="far fa-tag fa-stack-1x fa-inverse" style="    margin-left: 1.5rem;
          "></i>
          </span>
          <img src="https://assets.scott-sports.com/pages/wintersphere_2019/part_4_vapor_girl.png" alt="">
        </div>
          <article class="product_box" style="background-color:#78869e;">
            <h5 class="hiphen">vapor goggle</h5>
            <div class="img--wrapper">
              <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_vapor_goggle.png" alt="" class="img-fluid">
            </div>
            <ul>
                <li><span>-</span> Amplifier:enhances contrast&amp;clarity</li>
                <li><span>-</span> 100% UV Protection</li>
                <li><span>-</span> Revolutionary Air Management 2.0</li>
            </ul>
            <a class="button btn btn-primary btn-sm quickview" href="#">Quickview</a>
            <span style="display: none" class="quick-look">271810/quickView</span>
          </article>
        <section>
          <div class="img--wrapper">
            <img class="w-100" src="https://assets.scott-sports.com/pages/wintersphere_2019/part_4_patrol_back.png" alt="">
          </div>
        </section>
      </div>
      <div class="col-sm-6">
        <p class="winter--pitch w-400">The SCOTT Vapor goggle is the latest addition to the range. The totally new semi-rimless frame has been designed to create a perfect airflow inside the lens to avoid fogging. </p>
        <div class="show-more">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-1x" style="font-size: 6rem;color: #0099ff;"></i>
            <i class="far fa-tag fa-stack-1x fa-inverse" style="    margin-left: 1.5rem;
          "></i>
          </span>
          <img src="https://assets.scott-sports.com/pages/wintersphere_2019/part_4_vapor_front.png" alt="">
        </div>
          <article class="product_box" style="background-color:#f56e67;">
            <h5 class="hiphen">SCOTT PATROL E1 22 BACKPACK KIT</h5>
            <div class="img--wrapper">
              <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_patrol_backpack.png" alt="" class="img-fluid">
            </div>
            <ul>
                <li><span>-</span> SCOTT Alpride E1 Airbag System</li>
                <li><span>-</span> One of the lightest on the market</li>
                <li><span>-</span> 1280g Full system weight</li>
            </ul>
            <a class="button btn btn-primary btn-sm quickview" href="#">Quickview</a>
            <span style="display: none" class="quick-look">272628/quickView</span>
          </article>
        <p class="winter--pitch w-400 center">The SCOTT Vapor goggle is the latest addition to the range. The totally new semi-rimless frame has been designed to create a perfect airflow inside the lens to avoid fogging. </p>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron-fluid" id="part_5_airflex--jumbotron">
  <div class="show-more">
    <span class="fa-stack fa-2x">
      <i class="fas fa-circle fa-stack-1x" style="font-size: 6rem;color: #0099ff;"></i>
      <i class="far fa-tag fa-stack-1x fa-inverse" style="    margin-left: 1.5rem;
    "></i>
    </span>
    <img src="https://assets.scott-sports.com/pages/wintersphere_2019/part_5_airflex_mobile.png" alt="" class="hidden-sm-up">
  </div>
  <div class="container">
    <div class="row teaserline" id="part_5_airflex">
      <div class="col-sm-6">
        <img src="https://assets.scott-sports.com/pages/wintersphere_2019/part_5_airflex_back.png" alt="">
        <p class="winter--pitch hidden-xs">The SCOTT AirFlex Polar Vest Protector features the new and innovative AirFlex D3O plate with a SCOTT specific design. Enjoy maximum comfort, optimal airflow thanks to strategically placed vents as well as
          the protective performance of this tough tested plate. In combination with PolarTec fabric, the SCOTT AirFlex Polar Vest Protector keeps you warm, whatever your adventure.</p>
      </div>
      <div class="col-sm-6" id="part_5_airflex--right">
        <p class="winter--pitch hidden-sm-up">The SCOTT AirFlex Polar Vest Protector features the new and innovative AirFlex D3O plate with a SCOTT specific design. Enjoy maximum comfort, optimal airflow thanks to strategically placed vents as well
          as the protective performance of this tough tested plate. In combination with PolarTec fabric, the SCOTT AirFlex Polar Vest Protector keeps you warm, whatever your adventure.</p>
          <article class="product_box" style="background-color:#d8784f;">
            <h5 class="hiphen">AIRFLEX PRO MEN&#39;S VEST PROTECTOR</h5>
            <div class="img--wrapper">
              <img src="https://assets.scott-sports.com/pages/wintersphere_2019/product_airflex_vest.png" alt="" class="img-fluid">
            </div>
            <ul>
                <li><span>-</span> Level 1 Protection</li>
                <li><span>-</span> AirFlex Technology with D3O®</li>
                <li><span>-</span>  Polartec powergrid fabric</li>
            </ul>
            <a class="button btn btn-primary btn-sm quickview" href="#">Quickview</a>
            <span style="display: none" class="quick-look">271913/quickView</span>
          </article>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row teaserline">
    <div class="col-sm-12 text-center">
      <h2>Discover our collections</h2>
    </div>
  </div>
</div>
<div class="container-fluid" id="part_6_collections">
  <div class="row">
    <div class="col-sm-6 no-padding">
      <div class="collections-imgs">
        <img class="img-fluid w-100" src="https://assets.scott-sports.com/pages/wintersphere_2019/part_6_collections_freeride.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 collections-titles">
      <div>
        <h3 class="hiphen"><span>FREERIDE</span><br>COLLECTION</h3>
        <a href="" class="btn btn-default">DISCOVER MEN'S</a>
        <a href="" class="btn btn-default">DISCOVER WOMEN'S</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-push-6 no-padding">
      <div class="collections-imgs">
        <img class="img-fluid w-100" src="https://assets.scott-sports.com/pages/wintersphere_2019/part_6_collections_ski.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6 collections-titles">
      <div>
        <h3 class="hiphen"><span>SKI TOURING</span><br>COLLECTION</h3>
        <a href="" class="btn btn-default">DISCOVER MEN'S</a>
        <a href="" class="btn btn-default">DISCOVER WOMEN'S</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 no-padding">
      <div class="collections-imgs">
        <img class="img-fluid w-100" src="https://assets.scott-sports.com/pages/wintersphere_2019/part_6_collections_mountain.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 collections-titles">
      <div>
        <h3 class="hiphen"><span>ALL MOUNTAIN</span><br>COLLECTION</h3>
        <a href="" class="btn btn-default">DISCOVER MEN'S</a>
        <a href="" class="btn btn-default">DISCOVER WOMEN'S</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="part_7_newsletter">
  <div class="row teaserline">
    <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="hiphen text-center">Sign up for our newsletter</h3>
          <p class="text-center">READY FOR WINTER? SUBSCRIBE TO RECEIVE OUR EXCLUSIVE OFFERS, STORIES AND VIDEOS DIRECTLY IN YOUR INBOX.</p>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="articles_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-lg modal-dialog-centered">
    <%-- Will be filled with HTML via AJAX call or with the below error layout --%>
  </div>
</div>
