<div class="container-fluid no-padding">
  <div class="row-fluid " id="part_1_hero">
    <div class="col-sm-12" id="part_1_hero--content">
      <h2 class="text-center txt-white txt-size--1 hiphen">
        Conquer the elements</h2>
    </div>
  </div>
  <div class="row " id="intro">
    <div class="col-sm-12 text-center " id="part_1_hero--intro">
      <h3 class="txt-dark txt-size--3 hiphen">
        Winter is around the corner
      </h3>
      <h4 class="txt-weigth--light txt-size--4">Dicover the new SCOTT Freeride collection</h4>
    </div>
  </div>
</div>
