<div class="container-fluid no-padding">
  <div class="row-fluid teaserline" id="hero">
    <div class="col-sm-12" id="hero--content">
      <h2 class="text-center txt-white txt-size--1">
        Conquer the elements</h2>
    </div>
  </div>
  <div class="row teaserline" id="intro">
    <div class="col-sm-12 text-center " id="hero--intro">
      <h3 class="txt-dark txt-size--3">
        Winter is around the corner
      </h3>
      <h4 class="txt-weigth--light txt-size--4">Dicover the new SCOTT Freeride collection</h4>
    </div>
  </div>
</div>
