<div class="container-fluid p-0">
  <div class="row no-gutters" id="part_1_hero">
    <div class="col-sm-12">
      {{#video_0}}
        {{> video }}
      {{/video_0}}
    </div>
  </div>
  <div class="row" id="intro">
    <div class="col-sm-12 text-center " id="part_1_hero--intro">
      <hr>
      <h3 class="txt-dark h2 hiphen fade" data-text="title">
        Winter is around the corner
      </h3>
      <h4 class="txt-weigth--light h3 fade" data-text="subtitle">DISCOVER THE NEW SCOTT FREERIDE COLLECTION</h4>
    </div>
  </div>
</div>
