<div id="articles_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-lg modal-dialog-centered">
    <%-- Will be filled with HTML via AJAX call or with the below error layout --%>
  </div>
</div>
