<div class="jumbotron-fluid" id="part_4_vapor--jumbotron">
    <div class="row no-gutters" id="part_4_vapor">
      <div class="col-sm-6 offset-sm-2">
        <a class="show-more" data-toggle="modal" href="#" id="show--vapor-goggle">
          <img src="wintersphere-19-mkt-page-02v04-assets/part_4_vapor_girl.png" alt="" class="scaledown">
          {{> showMore }}
        </a>
          {{#product4}}
            {{> product_box }}
          {{/product4}}
        <section>
          <div class="img--wrapper" id="show--vapor-back">
            <img class="w-100" src="wintersphere-19-mkt-page-02v04-assets/part_4_patrol_back.png" alt="">
          </div>
        </section>
      </div>
      <div class="col-sm-3">
        <p class="winter--pitch w-400 fade" data-text="p4">The SCOTT Vapor goggle is the latest addition to the range. The totally new semi-rimless frame has been designed to create a perfect airflow inside the lens to avoid fogging. </p>
        <span id="parallax_1_trigger"></span>

        <div class="follow-me" id="follow_6" data-parent="parallax_1_trigger" data-offset="400" data-duration="200">
          <a class="show-more parallax_parent" data-toggle="modal" href="#" id="show--vapor-backpack">
            <div style="background-image: url(wintersphere-19-mkt-page-02v04-assets/part_4_vapor_front.png);" class="parallax" id="parallax_1" data-parent="#parallax_1_trigger" data-y="100px"></div>
            {{> showMore }}
          </a>
        </div>
          {{#product5}}
            {{> product_box }}
          {{/product5}}
        <p class="winter--pitch w-400 center nofade" data-text="p5">The SCOTT Patrol E1 22 is the smaller version of our flagship Patrol E1 electronic avalanche backpack family. With a smaller volume but with all the same features as the 30 litre, this pack is perfect for quick ascents or heli-skiing outings. </p>
      </div>
    </div>
  </div>
