<div class="jumbotron-fluid gradient--gray-up">
  <div class="container no-padding  ">
    <div class="row " id="part_2_vertic_jacket">
      <div class="col-sm-6">
        <p class="winter--pitch w-400">The slick design and the muted colorways of the SCOTT Vertic GTX 3L Stretch Jacket hides technical features and comfort. Constructed using a GORE-TEX® membrane, it stands up to the worst winter weather.</p>
        {{#product2}}
          {{> product_box }}
        {{/product2}}
      </div>
      <div class="col-sm-6 no-padding box-50--wrapper">
        <div class="box-50 show-more" id="show--vertic">
          {{> showMore }}
          <img class="img-fluid w-100 scaledown" src="wintersphere-19-mkt-page-02v04-assets/vertic_gtx_action_shot.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
