<div class="container-fluid newsletter-box" id="newsletter">
  <div class="row">
    <div class="col-sm-12">
      <div id="newsletter-box--wrapper" class="div card w-50 mx-auto rounded p-3 my-5 shadow">
            <div class="card-body text-center">
              <button
                type="button"
                data-dismiss="modal"
                aria-label="Close"
                class="btn btn-link"
                id="newsletter-box--modal-close"
              >
                <i class="fal fa-times fa-2x"></i>
              </button>
              <h3 class="hiphen text-center nofade my-4" data-text="nl_title">
                Sign up for our newsletter
              </h3>
              <p class="text-center nofade" data-text="nl_subtitle">
                READY FOR WINTER? SUBSCRIBE TO RECEIVE OUR EXCLUSIVE OFFERS,
                STORIES AND VIDEOS DIRECTLY IN YOUR INBOX.
              </p>
              <form
                action="https://api.maropost.com/accounts/1020/forms/30/subscribe/ff32fcaf073d11fc8cdca239044d44c28a74d4e2"
                class="maropost-form"
                method="post"
              >
              <div class="form-group mt-5">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
                <div class="form-group">
                  <input
                    value="Subscribe"
                    type="submit"
                    name="commit"
                    class="btn btn-primary btn-block"
                    id="newsletter_form_submit"
                    disabled
                  />
                  <div class="col-sm-12 text-left mt-4" id="custom_fields_privacy--wrapper">
                    <div class="form-check form-check-inline">
                    <input class="form-check-input mr-4" type="checkbox" id="custom_fields_privacy" value="option1">
                    <label class="form-check-label" for="custom_fields_privacy">
                    <span class="nofade" data-text="nl_pp" id="nl_pp" class="form-check-label" for="custom_fields_privacy">
                      I agree to receive the SCOTT Wintersports newsletter. Our
                      newsletter informs you about sport-related topics, our
                      products, offers and our company. You can unsubscribe from
                      the newsletter at any time. Information on the content,
                      the logging of your registration, the distribution via the
                      provider Maropost, statistical evaluation as well as your
                      disclaimer possibilities are given in our
                      <a href="">Privacy Policy</a>.
                    </span>
                  </label>
                  </div>
                  </div>
                </div>

              </form>

              <div class="maropost-form_message-fail text-danger text-center">
                &nbsp;
              </div>
              <div class="maropost-form_message-dbl-opt text-center">
                &nbsp;
              </div>
              <div class="maropost-form_message text-center">&nbsp;</div>
            </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
<div
  id="newsletter_modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  class="modal fade newseletter-box"
>
  <div role="document" class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-body" id="newsletter_modal_content"></div>
  </div>
</div>
