<div class="container-fluid" id="part_7_newsletter">
  <div class="row ">
    <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="hiphen text-center">Sign up for our newsletter</h3>
          <p class="text-center">READY FOR WINTER? SUBSCRIBE TO RECEIVE OUR EXCLUSIVE OFFERS, STORIES AND VIDEOS DIRECTLY IN YOUR INBOX.</p>

        </div>
      </div>
    </div>
  </div>
</div>
