<div class="jumbotron-fluid" id="part_4_vapor--jumbotron">
  <div class="container">
    <div class="row " id="part_4_vapor">
      <div class="col-sm-6">
        <a class="show-more" data-toggle="modal"  href="#"  id="show--vapor-goggle">
          <img src="wintersphere-19-mkt-page-02v04-assets/part_4_vapor_girl.png" alt="" class="scaledown">
          {{> showMore }}
        </a>
        <div id="follow_3_trigger"></div>
        <div class="follow-me" id="follow_3" data-parent="follow_3_trigger" data-offset="300" data-duration="100">
          {{#product4}}
            {{> product_box }}
          {{/product4}}
        </div>
        <section>
          <div class="img--wrapper" id="show--vapor-back">
            <img class="w-100 scaledown" src="wintersphere-19-mkt-page-02v04-assets/part_4_patrol_back.png" alt="">
          </div>
        </section>
      </div>
      <div class="col-sm-6">
        <p class="winter--pitch w-400">The SCOTT Vapor goggle is the latest addition to the range. The totally new semi-rimless frame has been designed to create a perfect airflow inside the lens to avoid fogging. </p>
        <a class="show-more" data-toggle="modal"  href="#"  id="show--vapor-backpack">
          <img class="scaledown" src="wintersphere-19-mkt-page-02v04-assets/part_4_vapor_front.png" alt="">
          {{> showMore }}
        </a>
        <div id="follow_4_trigger"></div>
        <div class="follow-me" id="follow_4" data-parent="follow_4_trigger" data-offset="300" data-duration="100">
        {{#product5}}
          {{> product_box }}
        {{/product5}}
        </div>
        <p class="winter--pitch w-400 center">The SCOTT Vapor goggle is the latest addition to the range. The totally new semi-rimless frame has been designed to create a perfect airflow inside the lens to avoid fogging. </p>
      </div>
    </div>
  </div>
</div>
