<div class="container-fluid" id="part_6_collections">
  <div class="row fade">
    <div class="col-sm-12 text-center my-5">
      <h2 class="hiphen" data-text="collections_title">Discover our collections</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="collections-imgs slidable" id="part_6_collections_1">
        <img class="img-fluid w-100" src="wintersphere-19-mkt-page-02v04-assets/part_6_collections_freeride.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 collections-titles">
      <div>
        <h3 class="hiphen" data-text="freeride">FREERIDE</h3>
        <a href="products/wintersports-collection-freeride-men" class="btn btn-default" data-text="cta_men">COLLECTION MEN</a>
        <a href="products/wintersports-collection-freeride-women" class="btn btn-default" data-text="cta_women">COLLECTION WOMEN</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <div class="collections-imgs slidable" id="part_6_collections_2">
        <img class="img-fluid w-100 slide-right" src="wintersphere-19-mkt-page-02v04-assets/part_6_collections_ski.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6 collections-titles">
      <div>
        <h3 class="hiphen" data-text="ski_touring">SKI TOURING</h3>
        <a href="products/wintersports-collection-ski-touring-men" class="btn btn-default" data-text="cta_men">COLLECTION MEN</a>
        <a href="products/wintersports-collection-ski-touring-women" class="btn btn-default" data-text="cta_women">COLLECTION WOMEN</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="collections-imgs slidable" id="part_6_collections_3">
        <img class="img-fluid w-100" src="wintersphere-19-mkt-page-02v04-assets/part_6_collections_mountain.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 collections-titles">
      <div>
        <h3 class="hiphen" data-text="all_mountain">ALL MOUNTAIN</h3>
        <a href="products/wintersports-collection-all-mountain-men" class="btn btn-default" data-text="cta_men">COLLECTION MEN</a>
        <a href="products/wintersports-collection-all-mountain-women" class="btn btn-default" data-text="cta_women">COLLECTION WOMEN</a>
      </div>
    </div>
  </div>
</div>
