<div class="container">
  <div class="row " id="part_1_scrapper_ski">
    <div class="col-sm-12">
      <p class="winter--pitch w-400">With outstanding feedback and success in its first season, the award winning SCOTT Scrapper 115 has become the benchmark for the quiver freeski-ski.</p>
      <div class="show-more">
        {{> showMore }}
        <img src="wintersphere-19-mkt-page-02v04-assets/scrapper_ski.png" alt="">
      </div>
      {{#product1}}
        {{> product_box }}
      {{/product1}}
    </div>
  </div>
</div>
