<div class="container">
  <div class="row " id="part_3_superguide">
    <div class="col-md-7">
      {{#video_3}}
      {{> video }}
      {{/video_3}}
      <p class="winter--pitch w-400">
        The lightweight SCOTT Superguide is mobile and comfortable on the ups, with solid, precise stability on the downs. The Rear Hook Walk System is simple, strong, and dependable, allowing a high range of friction-free motion for walking
        with powerful energy transfer.
      </p>
      <section>
        <div class="img--wrapper">
          <img class="img-fluid w-100" src="wintersphere-19-mkt-page-02v04-assets/part_3_boots.png" alt="">
        </div>
      </section>
    </div>
    <div class="col-md-5">
      {{#product3}}
        {{> product_box }}
      {{/product3}}
    </div>
  </div>
</div>
