<div class="jumbotron-fluid" id="part_5_airflex--jumbotron">
  <div class="show-more" id="show--airflex">
    {{> showMore }}
    <img src="wintersphere-19-mkt-page-02v04-assets/part_5_airflex_mobile.png" alt="" class="hidden-sm-up">
  </div>
  <div class="container">
    <div class="row " id="part_5_airflex">
      <div class="col-sm-6">
        <div id="part_5_airflex--img-wrapper" class="img--wrapper">
          <img src="wintersphere-19-mkt-page-02v04-assets/part_5_airflex_back.png" alt="" class="scaledown">
        </div>
        <p class="winter--pitch hidden-xs">The SCOTT AirFlex Polar Vest Protector features the new and innovative AirFlex D3O plate with a SCOTT specific design. Enjoy maximum comfort, optimal airflow thanks to strategically placed vents as well as
          the protective performance of this tough tested plate. In combination with PolarTec fabric, the SCOTT AirFlex Polar Vest Protector keeps you warm, whatever your adventure.</p>
      </div>
      <div class="col-sm-6" id="part_5_airflex--right">
        <p class="winter--pitch hidden-sm-up">The SCOTT AirFlex Polar Vest Protector features the new and innovative AirFlex D3O plate with a SCOTT specific design. Enjoy maximum comfort, optimal airflow thanks to strategically placed vents as well
          as the protective performance of this tough tested plate. In combination with PolarTec fabric, the SCOTT AirFlex Polar Vest Protector keeps you warm, whatever your adventure.</p>
        {{#product6}}
          {{> product_box }}
        {{/product6}}
      </div>
    </div>
  </div>
</div>
