<div class="container">
  <div class="row ">
    <div class="col-sm-12 text-center">
      <h2 class="hiphen">Discover our collections</h2>
    </div>
  </div>
</div>
<div class="container-fluid" id="part_6_collections">
  <div class="row">
    <div class="col-sm-6 no-padding">
      <div class="collections-imgs">
        <img class="img-fluid w-100" src="wintersphere-19-mkt-page-02v04-assets/part_6_collections_freeride.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 collections-titles">
      <div>
        <h3 class="hiphen"><span>FREERIDE</span><br>COLLECTION</h3>
        <a href="" class="btn btn-default">DISCOVER MEN'S</a>
        <a href="" class="btn btn-default">DISCOVER WOMEN'S</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-push-6 no-padding">
      <div class="collections-imgs">
        <img class="img-fluid w-100" src="wintersphere-19-mkt-page-02v04-assets/part_6_collections_ski.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6 collections-titles">
      <div>
        <h3 class="hiphen"><span>SKI TOURING</span><br>COLLECTION</h3>
        <a href="" class="btn btn-default">DISCOVER MEN'S</a>
        <a href="" class="btn btn-default">DISCOVER WOMEN'S</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 no-padding">
      <div class="collections-imgs">
        <img class="img-fluid w-100" src="wintersphere-19-mkt-page-02v04-assets/part_6_collections_mountain.png" alt="">
      </div>
    </div>
    <div class="col-sm-6 collections-titles">
      <div>
        <h3 class="hiphen"><span>ALL MOUNTAIN</span><br>COLLECTION</h3>
        <a href="" class="btn btn-default">DISCOVER MEN'S</a>
        <a href="" class="btn btn-default">DISCOVER WOMEN'S</a>
      </div>
    </div>
  </div>
</div>
