<div class="container">
  <div class="row " id="part_1_scrapper_ski">
    <div class="col-sm-12">
      <p class="winter--pitch w-400 fade" data-text="p1">With outstanding feedback and success in its first season, the award winning SCOTT Scrapper 115 has become the benchmark for the quiver freeski-ski.</p>
      <a class="show-more" data-toggle="modal" href="#" id="show--scrapper_ski">
        <div style="background-image: url(wintersphere-19-mkt-page-02v04-assets/scrapper_ski.png);" ></div>
        {{> showMore }}
      </a>
      {{#product1}}
        {{> product_box }}
      {{/product1}}
      <hr>
    </div>
  </div>
</div>
