<article class="product_box product_box--{{color}}" style="background-color:{{colorCode}};">
  <h5>{{name}}</h5>
  <img src="{{img}}" alt="">
  <ul>
    {{#props}}
      <li><span>-</span> {{.}}</li>
    {{/props}}
  </ul>
  <button class="button.btn.btn-link.center-block.compare--btn.compare-{{id}}">Quickview</button>
</article>
