<a class="fa-stack fa-2x" data-toggle="modal" class="fa-stack fa-2x" href="#">
  <i class="fas fa-circle fa-stack-1x" style="font-size: 6rem;color: #0099ff;"></i>
  <i class="far fa-tag fa-stack-1x fa-inverse" style="margin-left: 1.5rem;
"></i>
</a>
