<div class="modal show-more--modal" tabindex="-1" role="dialog" id="show-more-modal">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header hidden-sm-up">
        <h5 class="modal-title hiphen">Shop the look</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fal fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid no-padding">
          <div class="row" id="show-more-modal--main">
            <div class="col-md-6" id="show-more-modal--cover"></div>
            <div class="col-md-6">
              <div class="modal-header hidden-xs">
                <h5 class="modal-title hiphen">Shop the look</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="fal fa-times"></i>
                </button>
              </div>
              <div id="show-more-modal--quickview"></div>
              <div class="product_list--container">
                <div id="products" class="product_list">

                </div>
              </div>
            </div>
          </div>
          <div class="row" id="quickview--box--wrapper">
            <div class="col-sm-12" id="quickview--box">
              <div class="modal-header">
                <a class="quickview-back btn btn-link" href="#" style="display: inline-block;">Back</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="fal fa-times"></i>
                </button>
              </div>
            </div>
            <div class="col-sm-12 product_detail" id="quickview--box--main">
              <div id="quickview--box--details">
              </div>
              <div id="quickview-sizechart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="quickview--box--footer"">

      </div>
    </div>
  </div>
</div>
