{{^standalone}}
    <div class="row no-gutters">
      <div class="col-sm-12">
        {{/standalone}}
        <video id="{{id}}" class="video {{^autoplay}}noPlay{{/autoplay}}" poster="{{{poster}}}" preload="auto" {{#autoplay}} autoplay playsinline loop="loop" {{/autoplay}} {{^unmute}} muted="muted" {{/unmute}} >
          <source src="{{{url}}}.mp4" type="video/mp4">
          <source src="{{{url}}}.ogg" type="video/ogg">
          <source src="{{{url}}}.webm" type="video/webm"></video>
        {{^autoplay}}
          <div id="hero_cta">
            {{#scrim}}
            <h2 class="hiphen text-center nofade my-5"></h2>
            {{/scrim}}
            <span class="fa-stack fa-4x text-primary" data-play-video="#video_0">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-play fa-stack-1x"></i>
            </span>
          </div>
          {{/autoplay}}
          {{^standalone}}
      </div>
    </div>
  {{/standalone}}
