<div class="container-fluid no-padding">
  <div class="row-fluid ">
    <div class="col-sm-12 no-padding">
      <div class="video_wrapper" id="{{id}}_info" data-src="{{{url}}}" data-poster="{{{poster}}}" data-id="{{id}}">
      </div>
    </div>
  </div>
</div>
