#breadcrumbs--container{display: none;}

#singleslotpage .cms_disp-img_slot:first-child {
  hr {
    border-width: 0;
    @media (min-width: 768px) {
      margin: 30px auto;
    }
  }
}

.w-50 {
  width: 50vw;
  max-width: 50vw;
}

.fa,
.fas {
  color: inherit;
}

.w-100 {
  width: 100%;
}

ul {
  list-style-type: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .w-400 {
    width: 400px;
  }

  .box-50 {
    width: 50vw;

    &--wrapper {
      height: 100%;
    }
  }
}
// .container-absolute{position: absolute;}

.winter--pitch {
  margin-top: 30px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    margin-left: 15px;
    margin-right: 15px;
  }

  &::before {
    display: block;
    height: 1px;
    width: 200px;
    background-color: #666666;
    margin-bottom: 30px;
    content: "";
  }
}

.hidden-xs {
  @media (max-width: 767px) {
    display: none;
  }
}

.hidden-sm-up {
  @media (min-width: 768px) {
    display: none;
  }
}

video {
  width: 100%;
}
