.gradient--gray-up {
  background-image: linear-gradient(to top, rgba(36, 56, 63, 0.2), rgba(36, 56, 63, 0));
}

#singleslotpage .cms_disp-img_slot:first-child {
  hr {
    border-width: 0;
    margin: 30px auto;
  }
}

.w-50 {
  width: 50vw;
  max-width: 50vw;
}

.fa,
.fas {
  color: inherit;
}

.w-100 {
  width: 100%;
}

ul {
  list-style-type: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .w-400 {
    width: 400px;
  }

  .box-50 {
    width: 50vw;

    &--wrapper {
      height: 100%;
    }
  }
}
// .container-absolute{position: absolute;}

.winter--pitch {
  margin-top: 30px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    margin-left: 15px;
    margin-right: 15px;
  }

  &::before {
    display: block;
    height: 1px;
    width: 200px;
    background-color: #666666;
    margin-bottom: 30px;
    content: "";
  }
}

.show-more {
  position: relative;
  cursor: pointer;
  cursor: hand;

  .fa-stack {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  &:not(:hover) {
    .fa-stack {
      opacity: 0.5;
    }
  }
}
