#hero {
  background-image: url("../wintersphere-19-mkt-page-02v04-assets/hero_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 767px) {
    min-height: 80vh;
    }
    @media (min-width: 992px) {

    }

  @media (min-width: 992px) {
    // background-attachment: fixed;
    height: 50vw;
  }

  &--content {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: inherit;
  }
}
