.show-more {
  transition: transform 1s;

  > img,
  div {
    transition: filter 1s;
  }

  &:hover {
    img,
    div {
      filter: brightness(.8);
    }
  }
}
.slidable {
  position: relative;
  display: block;
  @media (max-width: 991px) {
    &.collections-imgs {
      position: relative;
      height: 80vw !important;
    }
  }

  .slidable--wrapper {
    animation-timing-function: ease-out;

    &:not(.slide-right) {
      transition: margin-left 1s;
      margin-left: -400%;
    }

    &.slide-right {
      transition: margin-right 1s;
      margin-right: -400%;
    }
  }

  &.slideIn {
    .slidable--wrapper {
      &:not(.slide-right) {
        margin-left: 0;
      }

      &.slide-right {
        margin-right: 0;
      }
    }
  }

  > img {
    position: absolute;

    &:not(.slide-right) {
      transition: left 1s;
      left: -100%;
    }

    &.slide-right {
      transition: right 1s;
      right: -100%;
    }
  }

  &.slideIn {
    > img {
      &:not(.slide-right) {
        left: 0;
      }

    }
  }
}

.collections-titles {
  transition: opacity 2s;
  opacity: 0;
  @media (max-width: 767px) {
    background-color: #fff;
  }

  &.fadeIn {
    opacity: 1;
  }
}
