#part_1_scrapper_ski {
  .winter--pitch {
    margin-left: 100px;
  }
  @media (min-width: 992px) {
    .product_box {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  @media (max-width: 767px) {
    #follow_0_parent {
      position: relative !important;
      
      display: -ms-flex;
      display: flex;
      justify-content: center;
    }
  }

  .show-more {
    overflow: hidden;
    width: 100%;
    position: relative;
    @media (max-width: 767px) {
      height: 100vw;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      height: 800px;
    }
    @media (min-width: 992px) {
      width: 55vw;
    }

    > div {
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      @media (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vw;
        transform: matrix(1, 0, 0, 1, 0, 0) !important;
      }
      @media (min-width: 768px) {
        height: 850px;
        top: -50px;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding-bottom: 150px;
  }


  #follow_0_parent {
    position: absolute;
    right: 0;
    @media (min-width: 768px) and (max-width: 991px) {
      top: 400px;
    }
    @media (min-width: 992px) {
      top: 0;
    }

    .follow-me {
      > article {
        float: right;
      }
    }
  }
}
