#part_4_vapor {
  @media (min-width: 768px) {
    section {
      display: block;
      position: relative;
      height: 60vw;

      .img--wrapper {
        margin-top: 30px;
        position: absolute;
        width: 50vw;
        right: 0;
        background-color: gray;
      }
    }
  }
  @media (min-width: 992px) {
    #slidable_271810 {
      margin-top: -300px;
      position: relative;
      z-index: 9;
    }
  }

  .winter--pitch {
    &:after {
      background-color: #eef5f8;
      display: block;
      width: 100vw;
      z-index: -1;
      content: "";
    }
    @media (min-width: 768px) {
      &:after {
        height: 45%;
        bottom: 0;
        right: -20vw;
        position: absolute;
      }
    }
    @media (min-width: 992px) {
      margin: 30px auto;
    }
  }

  #show--vapor-backpack {
    overflow: hidden;
    width: 100%;
    height: 350px;
    position: relative;
    z-index: 9;
    @media (min-width: 768px) {
      height: 700px;
    }

    > div {
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      @media (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vw;
        transform: matrix(1, 0, 0, 1, 0, 0) !important;
      }
      @media (min-width: 768px) {
        height: 800px;
        top: -100px;
      }
    }
  }
}
