#part_5_airflex {
  &--jumbotron {
    @media (min-width: 768px) {
      position: relative;

      .show-more {
        display: block;
        width: 100%;
        position: absolute;
        height: 70%;

        img {
          position: relative;
          z-index: -2;
        }
      }

      > .container {
        padding-top: 300px;
      }
    }
  }
  @media (max-width: 767px) {
    .col-sm-6 {
      padding: 15px;
    }

    &--right {
      background-color: #f1f0ed;
    }
  }
  @media (min-width: 768px) {
    .product_box {
      margin-top: 200px;
    }
  }

  .winter--pitch {
    &::after {
      background-color: #fbf1ed;
      display: block;
      width: 60vw;
      z-index: -1;
      content: "";
    }
    @media (min-width: 768px) {
      &::after {
        height: 50%;
        position: absolute;
        right: -10vw;
        bottom: -50px;
      }
    }
  }

  .parallax_parent {
    overflow: hidden;
    width: 100%;
    height: 350px;
    position: relative;
    @media (min-width: 768px) {
      height: 700px;
    }

    > div {
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      @media (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vw;
        transform: matrix(1, 0, 0, 1, 0, 0) !important;
      }
      @media (min-width: 768px) {
        height: 120%;
        top: -10%;
      }
    }
  }
}
