#part_7_newsletter{
  background-image: url("../wintersphere-19-mkt-page-02v04-assets/part_7_newsletter_bg.png");
  background-size: cover;
  .panel{
    border-width: 0;
    box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.3);
  }
}
