#part_6_collections {
  overflow: hidden;

  span {
    font-weight: 100;
  }
  @media (max-width: 767px) {
    .collections {
      &-titles {
        padding: 15px;

        a.btn {
          display: block;
          margin-bottom: 15px;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .row {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }

    .col-sm-push-6 .collections-imgs {
      z-index: 2;
    }

    .collections {
      &-imgs {
        display: block;
        height: 55vw;
        position: absolute;
        width: 55vw;
      }

      &-titles {
        min-height: 35vw;
        padding: 15px 30px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:not(.col-sm-pull-6) {
          padding-left: 7vw;
        }

        &.col-sm-pull-6 {
          align-items: flex-end;

          div {
            padding-right: 30px;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    h3 {
      font-size: 4.6rem;
    }
  }
}
