#part_4_vapor {
  @media (min-width: 768px) {
    section {
      display: block;
      position: relative;
      height: 60vw;

      .img--wrapper {
        margin-top: 30px;
        position: absolute;
        width: 50vw;
        right: 0;
        background-color: gray;
      }
    }
  }

  .winter--pitch {
    &:after {
      background-color: #f1f0ed;
      display: block;
      width: 100vw;
      z-index: -1;
      content: "";
    }
    @media (min-width: 768px) {
      &:after {
        height: 45%;
        bottom: 0;
        right: -20vw;
        position: absolute;
      }
    }
    @media (min-width: 992px) {
      margin: 30px auto;
    }
  }
}
