.product_box {
  text-align: center;
  padding: 30px;
  color: #fff;
  margin: 30px auto;
  @media (max-width: 767px) {
    .img--wrapper {
      height: 250px;

      img {
        max-height: 90%;
        width: auto;
      }
    }
  }

  .img--wrapper {
    min-height: 300px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 768px) {
    width: 350px;
  }
  @media (min-width: 992px) {
    width: 400px;
  }

  span {
    color: #000;
  }

  > *:not(button) {
    margin-bottom: 30px;
  }

  .btn {
    padding-left: 30px;
    padding-right: 30px;
  }

  ul {
    padding-left: 0 !important;
  }
}
