.product_box {
  display: block;
}

article {
  text-align: center;
  padding: 30px;
  color: #fff;
  margin: 30px auto;
  @media (max-width: 767px) {
    .img--wrapper {
      height: 250px;

      img {
        max-height: 90%;
        width: auto;
      }
    }
  }

  .img--wrapper {
    min-height: 300px;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    width: 90vw;
  }
  @media (min-width: 768px) {
    width: 350px;
  }
  @media (min-width: 992px) {
    width: 400px;
  }

  span {
    color: #000;
  }

  > *:not(button) {
    margin-bottom: 30px;
  }

  .btn {
    padding-left: 30px;
    padding-right: 30px;
  }

  ul {
    padding-left: 0 !important;
  }
}

#quickview-footer {
  float: left;
}
// @media (max-width: 991px) {

#articles_modal {
  .modal-header {
    border-bottom: none;
    padding-bottom: 0;

    .close {
      display: block;
      z-index: 9;
    }
  }

  .modal-body {
    position: relative;
    padding: 0 1.5rem 1.5rem;
    margin-top: -5.2rem;
  }

  .product_detail__title h1 {
    width: 80%;
  }
}
// }
