.txt-white {
  color: #fff;
  text-shadow: 0 0 20px rgba(0,0,0,0.3), 0 0 4px rgba(0,0,0,0.2);
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 6px;
}

.txt-weigth--light {
  font-weight: 300;
}

.txt-size {
  &--1 {
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 6rem;
    }
    @media (min-width: 992px) {
      font-size: 8rem;
    }
  }

  &--3 {
    font-size: 3.6rem;
  }

  &--4 {
    font-size: 1.8rem;
  }
}
